/* login */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}










body{
    background: #131A27;
}



/* matn moteharek */
.videotext{
    
    letter-spacing: 1px;
    font-weight: bold;
    background: url('img/martynov.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
}

@keyframes text {
    from {background-position: 0% 50%;}
    to {background-position: 100% 50%;}
}




/* box zard */
.conti{
    height: 400px;
    width: 300px;
    background: #364A5E;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    position: relative;
    color: aliceblue;
}

.conti::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(2deg,2deg);
    z-index: -1;
    background:  #20C5B6;
}




/* ax sabet */
.tasvir{
    background-image: url("img/ave.jpg");
    width: auto;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    padding: 12px 20px;
    background: #131A27;
    color: #20C5B6;
    font-family: Arial;
    text-transform: uppercase;
}

.mern{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
}
span{
  font-style: 5rem;
  letter-spacing: 1rem;
  animation: anim 2.0s linear infinite;
}
@keyframes anim{
  0%{color: #131A27; text-shadow: none;}
  80%{color: #131A27; text-shadow: none;}
  100%{color: #20C5B6; text-shadow: 0 0 25px #41ecde;}
}
span:nth-child(1){
  animation-delay: 0.3s;
}
span:nth-child(2){
  animation-delay: 0.6s;
}
span:nth-child(3){
  animation-delay: 0.9s;
}
span:nth-child(4){
  animation-delay: 1.2s;
}



/* box3D */
.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-width: auto;
  height: 400px;
  transform-style: preserve-3d;
  transform: perspective(100px);
}
.img1{
    width: 100%;
    height: 100%;
}

.img2{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(50px);
}

/* .img3{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(40px);
} */




/* social media */
.soci{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  color: rgb(0, 0, 0);
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s;
}

.fa-instagram:hover{
    color: #c13584;
}

.fa-facebook:hover{
  color: #3b5999;
}

.fa-telegram:hover{
  color: #1da1f2;
}

.fa-whatsapp:hover{
  color: #25D366;
}

.fa-github:hover{
  color: #800080;
}



/* ax 3tayi */
.tarkib{
  position: relative;
  width: auto;
  height: 50vh;
  background: #131A27;
}

.tarkib .ax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.tarkib .ax.ax1{
  background: url(img/anunziata.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
}

.tarkib .ax.ax2{
  background: url(img/martynov.jpg);
  background-size: cover;
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.tarkib .ax.ax3{
  background: url(img/white.jpg);
  background-size: cover;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.tarkib:hover .ax{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.tarkib .ax:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.tarkib .ax .neveshte{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 70%;
  padding: 20px;
  background: #fff;
  opacity: 0;
  transition: 0.5s;
}

.tarkib .ax:hover .neveshte{
  bottom: 0;
  opacity: 1;
}
